<div class="background">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <div class="header-content">

          <div class="header-content-inner">
            <h1>Feed The Sharks</h1>
            <a href="#download" class="btn btn-outline btn-xl page-scroll">One time Payment - $5.00</a>
            <br>
            <br>
            <a href="#download" class="btn btn-outline btn-xl page-scroll">Subscription - $5.00/m</a>

          </div>



          <div class="footer">
            <div class="container">
              <p><span class="glyphicon glyphicon-heart"></span> from the Sharks dev team</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
