<div class="background">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <div class="header-content">

          <div class="mail">
            <a class="btn btn-outline btn-xl page-scroll" ng-click="openMail()">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            </a>
          </div>

          <div class="header-content-inner">
            <h1>Feed The Sharks</h1>
            <a ng-click="openBuy()" class="btn btn-outline btn-xl page-scroll">One time Payment - $5.00</a>
            <br>
            <br>
            <a ng-click="openSubscribe()" class="btn btn-outline btn-xl page-scroll">Subscription - $5.00/m</a>

          </div>



          <div class="footer">
            <div class="container">
              <p><span class="glyphicon glyphicon-heart"></span> from Sharks dev team</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
